@model HELMo_bilite.Models.Dispatcher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dispatcher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matricule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matricule)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @if (!String.IsNullOrEmpty(Model.Photo))
            {
                <img src="@Model.Photo" alt="Dispatcher Photo" style="max-width:100%; height:auto;" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a>
</div>
