@model IEnumerable<HELMo_bilite.Models.Client>

@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyLogoPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.CompanyLogoPath))
                    {
                        <img src="@Url.Content(item.CompanyLogoPath)" alt="Company Logo" width="100" />
                    }
                </td>
                @if (item.Tagged == false || item.Tagged == null)
                {
                    <td>
                        <a asp-action="Tagguer" asp-route-id="@item.UserId" class="btn btn-primary">Bad Payer</a>
                    </td>
                } else
                {
                    <td>
                        Is a bad payer
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
