@model HELMo_bilite.ViewModels.Deliveries.AssignDeliveryViewModel

@{
    ViewData["Title"] = "Assign";
    bool hasDrivers = Model.Drivers.Any();
    bool hasTrucks = Model.Trucks.Any();
}

<h1>Assign</h1>

<h4>Delivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Assign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Delivery.Id" />

            <input type="hidden" asp-for="Delivery.LoadingLocation.Street" />
            <input type="hidden" asp-for="Delivery.LoadingLocation.Number" />
            <input type="hidden" asp-for="Delivery.LoadingLocation.City" />
            <input type="hidden" asp-for="Delivery.LoadingLocation.PostalCode" />
            <input type="hidden" asp-for="Delivery.LoadingLocation.Country" />

            <input type="hidden" asp-for="Delivery.UnloadingLocation.Street" />
            <input type="hidden" asp-for="Delivery.UnloadingLocation.Number" />
            <input type="hidden" asp-for="Delivery.UnloadingLocation.City" />
            <input type="hidden" asp-for="Delivery.UnloadingLocation.PostalCode" />
            <input type="hidden" asp-for="Delivery.UnloadingLocation.Country" />

            <input type="hidden" asp-for="Delivery.DeliveryContent" />
            <input type="hidden" asp-for="Delivery.LoadingDateTime" />
            <input type="hidden" asp-for="Delivery.UnloadingDateTime" />

            <h5>Loading location</h5>
            @Model.Delivery.LoadingLocation.Street
            @Model.Delivery.LoadingLocation.Number,
            @Model.Delivery.LoadingLocation.City
            @Model.Delivery.LoadingLocation.PostalCode,
            @Model.Delivery.LoadingLocation.Country</p>

            <h5>Unloading location</h5>
            <p>
                @Model.Delivery.UnloadingLocation.Street
                @Model.Delivery.UnloadingLocation.Number,
                @Model.Delivery.UnloadingLocation.City
                @Model.Delivery.UnloadingLocation.PostalCode,
                @Model.Delivery.UnloadingLocation.Country
            </p>

            <h5>Delivery content</h5>
            <p>@Model.Delivery.DeliveryContent</p>

            <h5>Delivery date</h5>
            <p>@Model.Delivery.LoadingDateTime to @Model.Delivery.UnloadingDateTime</p>

            <h5>Assign Driver and Truck</h5>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select id="driverSelect" asp-for="UserId" asp-items="Model.Drivers" class="form-control"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TruckId" class="control-label"></label>
                <select id="truckSelect" asp-for="TruckId" asp-items="Model.Trucks" class="form-control"></select>
                <span asp-validation-for="TruckId" class="text-danger"></span>
            </div>

            @if (hasDrivers && hasTrucks)
            {
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    Il n'y a pas de chauffeurs ou de camions disponibles. Veuillez contacter le client.
                </div>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            var allTrucks = @Html.Raw(Json.Serialize(Model.Trucks));

            $('#driverSelect').change(function () {
                var selectedDriver = $(this).children("option:selected").text();
                var lastChar = selectedDriver.slice(-1);

                console.log(selectedDriver);
                console.log(lastChar);
                var suitableTrucks = lastChar === 'E' ? allTrucks : allTrucks.filter(function (truck) {
                    return truck.text.slice(-1) === 'C';
                });

                var $truckSelect = $('#truckSelect');
                $truckSelect.empty();
                $.each(suitableTrucks, function (index, truck) {
                    $truckSelect.append(new Option(truck.text, truck.value));
                });
            });
        });
    </script>
}
